#log {
    /* centrado vertical */
    margin: auto;
    top: 50%;
    font-family: 'Annie Use Your Telescope', cursive;
}

h1 {
    color: rgb(110, 6, 6);
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
}

.boton-adoptar{
    padding-left: 200px;

}

div.background {
    background: url(https://amarilo.com.co/blog/wp-content/uploads/2021/02/Mascotas-1170x686.jpg);
    
}

 #centros{
   
    background: url(https://i.pinimg.com/originals/a9/cd/93/a9cd9384063eeb29ac9f1b6cc7c8e67b.jpg);
    width: 100%;
    background-repeat: no-repeat;
   background-size: 100%;
}

#cols{
    align-items: center;
    margin-top: 9%;
}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity);
    font-size: 23px;
    font-family: 'Annie Use Your Telescope', cursive;
    /* For IE8 and earlier */
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(214, 89, 48);
    color: white;
    font-size: 23px;
    font-family: 'Annie Use Your Telescope', cursive;
}

.acordeon {
    width: 100%;
    max-width: 120em;
    background-color: brown;
    padding: 2em;
    font-family: 'Annie Use Your Telescope', cursive;
}

.acordeon .bloque {
    background-color: #f1ecec;
    margin: 0 0 0em;
    padding: 1em;
}

.acordeon .h2 {
    background-color: rgb(241, 149, 149);
    margin: 0 0 1em;
    padding: 0.5em;
}

.acordeon .contenido {
    background-color: rgb(172, 165, 165);
    height: 0;
    padding: 0em;
    overflow: hidden;
    transition: all .5s ease;
    font-size: 23px;
    font-family: 'Annie Use Your Telescope', cursive;
}

.acordeon .bloque.activo .contenido {
    height: 10em;
    font-family: 'Annie Use Your Telescope', cursive;
}

.nav-item {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 1.6em;
}

.card-img-top{
    width: 500px;
    height: 300px;
}

li.menu {
    color: aliceblue;
}

div.col {
    display: flex;
}

div.columnas {
    margin: 0 auto;
    width: 100%;
}

div.cajas {
    justify-content: space-around;
    margin: .5em;
}

div.boton {
    width: 120px;
    height: 40px;
}

a.logo {
    margin-right: 5em;
    position: relative;
    top: 50%;
}

img.inicio {
    width: 100%;
}


