.container{
    font-family: 'Annie Use Your Telescope', cursive;
}
body {
    background: url(https://i.pinimg.com/originals/a9/cd/93/a9cd9384063eeb29ac9f1b6cc7c8e67b.jpg);
    background-size: cover;
}
input [type="text"],
select,
input [type="submit"] {
    padding: 0.2em;
    width: 100xp;
}

.formingresar {
    background: linear-gradient(rgb(255, 255, 255),transparent);
    border-radius: 0.5em;
 
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
    font-size: 200xp;
    margin: 0 auto;
    padding: 2em;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 23px;
    width: 50%;
    min-width: 600xp;
    font-weight: bolder;
}

.formingresar label {
    display: block;
    margin-top: 1em;
}

.formingresar legend {
    text-align: right;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bolder;
}

@media screen and (max-width:600xp) {
    .forminsertar {
        background: chocolate;
    }
}

input.insertar {
    border-radius: 2em;
    display: block;
    margin: 2em auto;
    padding: 0.2em;
    width: 40%;
    
    font-weight: bolder;
}

#tabla{
    font-family: 'Annie Use Your Telescope', cursive;

}