.encabezado {
    display: flex;
    justify-content: space-between;
    height: 110px;
    background-color: black;


}



.logo{
height: 90px;
    width: 200px;

}

.imagen{
    height: 50px;
    height: 100px;
}

.cerrar-sesion{
    height: 50px;
    width: 200px;
    padding-top: 20px;

    
}

.contenedor-principal {
    margin: 30px;
}



.contenedor-formularios{
    border-top-right-radius: 10px;
    border: pink 1px solid;
    height: 630px;


}

.contenedor-info-traslados{
    border-top-right-radius: 10px;
    border: pink 1px solid;

}
.contenedor-padre{

    margin-top: 5%;
    margin-left: 5%;

}

#admin{
    background: url(https://i.pinimg.com/originals/a9/cd/93/a9cd9384063eeb29ac9f1b6cc7c8e67b.jpg);

    width: 100%;

    background-repeat: no-repeat;

    background-size: 100%;
}

.formularios {

    height: 710px;
    padding-left: 22px;

    padding-right: 59px;
}

.informacion-traslados {

    padding-left: 60px;
    padding-right: 40px;
    height: 600px;
    border: #e9ecef 1px solid;
}

.contenedor-dos {
    background-color: yellow;
}

.titulo {
    background: linear-gradient(#e7e7e7, lightgrey);
    border-top-right-radius: 10px;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
}

.titulo-info-traslados {
    background: linear-gradient(#e7e7e7, lightgrey);
    border-top-right-radius: 10px;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
}
.contenedor-formulario-mascota{
    margin-top: 85px;

}

.contenedor-formulario-CA-origen{
    margin-top: 85px;
}

.contenedor-formulario-CA-destino{
    margin-top: 85px;
}

.contenedor-formulario-confirmar{
    margin-top: 85px;
}



.sub-titulo-mascota {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border: #e7e1e1 0.1px solid;
    border-radius: 5px;
}

.sub-titulo-fieldset {

    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: #e7e1e1 0.1px solid;
    border-radius: 5px;

}

.boton-buscar {
    padding-bottom: 18px;
    font-size: 16px;

}

.boton-seleccionar {

    font-size: 15px;

}

.formulario-mascota {
    border-radius: 5px;
    border: #e7e1e1 0.1px solid !important;
}

.fieldset{
    width: auto;
    border-radius: 5px;
    border: pink 0.1px solid !important;
}

.modal-content {
    height: 600px;
    width: 913px;;
}

.modal-dialog {
    margin-left: 350px;
}



.buscar {
    margin: auto !important;
}

.buscar-traslados {
    display: flex;
    margin-bottom: 35px;
    margin-top: 35px;
}

.buscar-mascota {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contenedor-formulario-centros {
    margin-top: 40px;
}

.subtitulo-centro-origen {
    padding-top: 20px;
    font-size: 15px;
}

.boton-guardar{
    width: 80px;
    height: 40px;
    text-align: center;
    margin-top: 15px;


}
.buscar-animal{
    display: flex;
    margin-top: 40px;

}
.tabla-animales{
    margin-top: 25px;
}

#mostrar-animales{
cursor: pointer;
}

.info-mascota{
    margin-top: 5px;
    width: 400px;
    height: 340px;
}

.informacion-mascota{

    height: 200px;
}

.form-info-centro{
    height: 200px;
}
.info-tabla{
    padding-right: 45px;
}
.foto-mascota{
    background-color: #555555;
    height: 145px;
    margin-right: 90px;
    margin-left: 90px;
}
.info-centro-actual{
    margin-top: 25px;
}

#nombre-prueba{
    width: 100px;
    height: 100px;
}


.boton-atras{


    color: cadetblue;
    font-size: 18px;
    font-weight: 600;
    text-align: end;

}

.boton-guardar{
    margin-top: 30px;
}

.botones-acciones-primarias{
    text-align: center;
    padding-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;


}
.container-btn-atras
{
    width: 110%;
    text-align: left;
}

.container-btn-siguiente{
    width: 100%;
    text-align: end;

}

.datos-mascota{
    padding: 15px;
}

.formulario-centro-origen{
    padding: 15px;
}

.formulario-centro-destino{
    padding: 15px;
}
.boton-mostrar{
    background-color: white;
    color: #999999;
    font-size: 15px;
    font-weight: revert;

}

.btn-actualizar{
    float: right;
}

.tb-traslados{
    height: 450px;
    overflow-y: auto;
    overflow-x: auto;
    padding-top: 20px;
}

.boton-mostrar-todo{
    padding-left: 5px;
    padding-top: 7px;
}